# Model files (ไฟล์ใหญ่)
*.h5
*.keras
ChestXRayModel.h5
ChestXRayModel.keras
my_model_new.h5
my_model.h5
my_model2.h5
my_model3.h5

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
